body {
    margin: auto;
    max-width: 55em;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(123, 95, 55);
  }
  
  .upperbar {
    background-color: rgb(163, 149, 134);
    margin: 0;
    padding: 0 ;
    
    
  }

  upperbar ul {
    padding: 0.5 0 0.5em 0;
    margin: 0;
    list-style-type: none;
  }
  upperbar li {
    padding: 0 1em;
    margin: 0;
  }

    .header {
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    margin: -1em;
    position: relative;
    bottom: 5px;
    left: -10px;
  }

  .headerandlogo {
    margin: 0 -1em;
  }
  headerandlogo a {
    text-decoration: none;
  }

  headerandlogo ul{
    margin: 0;
  }
  headerandlogo li{
    display:inline flex
  }
  .nav {
    margin: 0;
  }

  .nav:first-child{
    float: right;
    margin: -2.5em 0;
  }

  nav ul {
    padding: 0;
    margin: 0;
  }
  
  nav li { 
    display: inline flex; 
    padding: 0 0.5em;
    margin: 0;
    border: 5px double rgb(0, 0, 0);
    color:black
  }

  nav a{
    margin: 0.5;
    text-decoration: None;
    color:rgb(0, 0, 0);
  }
  nav a:hover{
    color:rgb(0, 0, 0);
    font-weight: bolder;
  }
  nav a:visited{
    color:black

  }
  .info {
    border: 2px solid rgb(0, 0, 0);
    margin: 0.5em 0;
    padding: 1em;
    background-color: rgb(208, 138, 138);
    color: rgb(0, 0, 0);
  }  
  
  .content {
    background-color: rgb(225, 225, 225);
    padding: 1em;
    margin: 0.5em 0;
  }
  .event {
    border: 2px solid black;
    margin: 1em;
    padding: 0.2em 0.5em;
  }

  .luotimasterlogo {
    width:50px;
    position: relative;
    bottom: -5px
  }

  .profilepic {
    width:200px;
    border: 5px double rgb(0, 0, 0);
  }

  h1, h2 {
    margin: 0;
  }

  a:visited {
    color:blue
  }
