
{% extends "layout.html" %}

{% block title %}Luotimaster{%endblock%}

{% block content %}

{% if event.user_id == session.user_id %}
      <body>
    <h2> Tapahtuma </h2>
    <hr />
    
    <p>  Tapahtumanumero: {{ event.id }}<br />
      
        Tappaja: {{ event.killer_username }}  <br />  
      
        Kohde: {{ event.target_username }}</p>
    
        
        <form action="/event/{{event.id}}/edited" method="post">
            <p>
              Murhapaikka (postinumero): <br />
              <input type="text" name="zip" {% if event.zip != None %} value="{{event.zip}}" {% endif %} maxlength="5" minlength="5" />
            </p>
            <label for="weapontype">Asetyyppi:</label><br />
              <select name="weapontype">
              {% for weapon in weapontypes %}
              {% if weapon.info == details.info %}
              <option value="{{ weapon.info }}"selected>{{ weapon.info}}</option>
              {%endif%}
              <option value="{{ weapon.info }}">{{ weapon.info }}</option>
              {% endfor %}
            </select>
            <br />  
    
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
            <input type="submit" value="Tallenna muutokset" />
          </form>
        
        <br />  
  

  {% else %}
  <p> Virhe: ei oikeuksia! </p>

  {% endif %}


{% endblock %}