
{% extends "layout.html" %}

{% block title %} Luotimaster {%endblock%}

{% block content %}


      <body>

        <h2>Tapahtuma {{event.id}}</h2>
      <hr />
    <p>
      Tappaja: <a href="/user/{{ event.killer_username }}">{{ event.killer_username }}</a><br /> 
      
      Kohde:   <a href="/user/{{ event.target_username }}">{{ event.target_username }}</a><br />

      Ase: {{details.info}} <br />
      
      Sijainti: {% if event.zip == None %}
          Ei tiedossa.
      {% else %} 
      {{ event.zip }}
      {% endif %}<br />

      Status:
      {% if event.confirm_status == 0 %}
      Ei varmistettu.
      {% else %}
      Varmistettu.
      {% endif %}  
    </p>
    {% if event.user_id == user_id %}
    <form action="/event/{{event.id}}/edit">
      <input type="submit" value="Muokkaa tapahtumaa" /></form> 
    <form action="/event/{{event.id}}/delete"><input type="submit" value="Poista tapahtuma" />
    </form>
    <hr />
    <a href="/events">Omiin tapahtumiin</a>
    {% endif %}
    {% if event.target_id == user_id %}
    {% if event.confirm_status == 0 %}
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />

      <form action="/event/{{event.id}}/confirm" method="post">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="hidden" name="confirm" value="1">
        <input type="submit" value="Varmista tapahtuma" />
      </form>
    {% else %}
    <form action="/event/{{event.id}}/confirm" method="post">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <input type="hidden" name="confirm" value="0">
      <input type="submit" value="Peru varmistaminen" />
    </form>
    {% endif %}
    <hr />
    <a href="/events">Omiin tapahtumiin</a> |
    {% endif %}       
    <a href="/murders">Murha-arkistoon</a>
  </p>
  
  

</body>
{% endblock %}
