{% extends "layout.html" %}
{% block title %} Luotimaster {%endblock%}
{% block content %}
<head>
  <title>Etusivu</title>
</head>

<body>


  {% if session.user_id %}
  <p>
    Hei <b>{{ username }}</b>!
  </p>
  <br />

  <p>
    > <a href="/report">Ilmoita tapahtumasta</a>
  </p>

  <p>
   > <a href="/events">Tarkistele tapahtumiasi</a>
  </p>

  <p>
   > <a href="/murders">Murha-arkistot</a>
  </p>
  <hr />
  {% else %}
  <p>
    <p>Et ole kirjautunut sisään.</p>
    <hr />
  {% endif %}

  {% if murderers | count == 0 %}
  <p> Kukaan ei ole vielä tiedettävästi tappanut ketään. </p>
  {% else %}

  <h2> Top 5 pelaajaa: </h2>
  {% for murderer in murderers %}
  <a href="/user/{{murderer.username}}">{{murderer.username}}</a> | {{murderer.kills}} varmistettua murhaa
  <br />
  {% endfor %}
  {% endif %}
  <hr />
  

</body>
{% endblock %}
