<!DOCTYPE html>
<html>

<head>
  <title>Etusivu</title>
</head>

<body>
  <h1>Luotimaster 0.0.2</h1>
  <hr />

  {% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
  <hr />
  {% endfor %}

  {% if session.user_id %}
  <p>
    Olet kirjautunut sisään peitenimellä {{ username }}
  </p>
  <br />

  <p>
    <a href="/report">Ilmoita tapahtumasta</a>
  </p>

  <p>
    <a href="/events">Tarkistele tapahtumiasi</a>
  </p>

  <p>
    <a href="/murders">Murha-arkistot</a>
  </p>
  <hr />
  {% else %}
  <p>
    <p>Et ole kirjautunut sisään.</p>
    <hr />
  {% endif %}

  {% if murderers | count == 0 %}
  <p> Kukaan ei ole vielä tiedettävästi tappanut ketään. </p>
  {% else %}

  <h2> Top 5 pelaajaa: </h2>
  {% for murderer in murderers %}
  <a href="/user/{{murderer.username}}">{{murderer.username}}</a> | {{murderer.kills}} varmistettua murhaa
  <br />
  {% endfor %}
  {% endif %}
  <hr />

  {% if session.user_id %}
  <p>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  {% else %}

    <a href="/login">Kirjaudu sisään</a>
    <a href="/register">Luo tunnus</a>
  </p> 
  {% endif %}

</body>

</html>