<head>
  <title>Kirjautuminen</title>
</head>
{% extends "layout.html" %}

{% block title %} Luotimaster {%endblock%}

{% block content %}

<body>

  {% if session.user_ud %}
  <p>
    Olet kirjautunut peitenimellä {{ session.user_id }}
  </p>
  <p>
    <a href="/">Palaa etusivulle</a>
    
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  {% else %}
  <form action="/login" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" value="{{filled.username}}"/>
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Kirjaudu" />
  </form>
  {% endif %}
  <hr />

</body>
{% endblock %}