
{% extends "layout.html" %}

{% block title %} Luotimaster {%endblock%}
  
{% block content %}
  
<head>
  <title>MURHAT</title>
</head>


<h1>Murha-arkistot:</h1>
<form action="/search" method="get">
  <p>
    Hakusana:
    {% if query %}
    <input type="text" name="query" value="{{ query }}" />
    {% else %}
    <input type="text" name="query" />
    {% endif %}
  </p>
  <input type="submit" value="Hae" />
</form>

<p>
  <a href="/murders/{{ page - 1 }}">&lt;&lt;</a>
  Sivu {{ page }}/{{ page_count }}
  <a href="/murders/{{ page + 1 }}">&gt;&gt;</a>
</p>
<hr />

  {% for murder in murders %}
  <div class="event">
    <event>
    <p>
      Tapahtumanumero: {{ murder.id }}
      <br />
      {{ murder.killer_username }} 
      {% if murder.describe %} 
      {{murder.describe}} 
      {% else %} 
      taikoi kuoliaaksi  
      {% endif %} 
      {{ murder.target_username }}

      {% if murder.zip %}
      sijainnissa {{ murder.zip }}
      {% endif %}<br />
      <a href="/event/{{murder.id}}">Tarkastele</a>
    </event></div> 
      {% endfor %}
    
      <p>
        <a href="/murders/{{ page - 1 }}">&lt;&lt;</a>
        Sivu {{ page }}/{{ page_count }}
        <a href="/murders/{{ page + 1 }}">&gt;&gt;</a>
      </p>
      <hr />


</body>
{% endblock %}