
{% extends "layout.html" %}
{% block title %} Luotimaster {%endblock%}
{% block content %}
  



<body>
    <h2>Haku</h2>

<form action="/search" method="get">
    <p>
      Hakusana:
      {% if query %}
      <input type="text" name="query" value="{{ query }}" />
      {% else %}
      <input type="text" name="query" />
      {% endif %}
    </p>
    <input type="submit" value="Hae" />
  </form>
  
  {% if query %}
  <hr />
  {% if result %}
    <h2>Tulokset:</h2>
    <p>
      <form action="/search/{{ page - 1 }}" method="get"><input type="hidden" name="query" value="{{ query }}" /> <input type="submit" value="&lt;&lt;" /></form>
      Sivu {{ page }}/{{ page_count }}
      <form action="/search/{{ page + 1 }}" method="get"><input type="hidden" name="query" value="{{ query }}" /> <input type="submit" value="&gt;&gt;" /></form>
    </p>
    <hr />

      {% for result in results %}
      <div class="event">
          <ul>
            <a href="/event/{{result.id}}">Tapahtuma #{{result.id}}: </a>   
            <br/>
          {{ result.killer_username }} {{ result.describe }} {{ result.target_username }}
          {% if result.zip %}
          sijainnissa {{result.zip}}
          {% endif %}
          </ul>  
    </div>
      {% endfor %}

    {% else %}
    <h4>Ei tuloksia. :-(</h4>
    {% endif %}
  {% endif %}

  <hr />
</body>
{% endblock %}