{% extends "layout.html" %}
{% block title %} Luotimaster {%endblock%}
{% block content %}

<body>

<h2>{{ user.username }}</h2>

{% if user.has_image %}
<img class="profilepic" src="/image/{{ user.username }}" />
{% endif %}


{% if user.id == session.user_id %}
<p>
  <a href="/add_image">Lisää profiilikuva</a>
</p>
{% endif %}

<p>
  Henkiä riistetty: {{ murder_count }} <br />
  Kuolemia: {{ death_count }} 
</p>

<h3>Viimeisimmät 5 tappoa: </h3>


{% if murders | count == 0 %}
<p> Ei varmistettuja tappoja. {{ user.username }} on kovin viaton!</p>
{% else %}
<a href="/user/{{user.username}}/murders">Tarkastele pelaajan kaikkia tappoja</a>
{% for murder in murders %}
<div class="event">
<p>

  Tapahtuma #{{ murder.id }}:
  <br />
  {{ murder.killer_username }} 
  {% if murder.describe %} 
  {{murder.describe}} 
  {% else %} 
  taikoi kuoliaaksi  
  {% endif %} 
  {{ murder.target_username }}
  {% if murder.zip %}
  sijainnissa {{ murder.zip }}
  {% endif %}<br />
  <a href="/event/{{murder.id}}">Tarkastele tapahtumaa</a>
</div>

  {% endfor %}
  {% endif %}

<h3>Viimeisimmät 5 kuolemaa: </h3>

{% if deaths | count == 0 %}
<p> Ei varmistettuja kuolemia. {{ user.username }} elää! </p>
{% else %}
<a href="/user/{{user.username}}/deaths">Tarkastele pelaajan kaikkia kuolemia</a>
{% for death in deaths %}
<div class="event">
<p>
  Tapahtuma #{{ death.id }}
  <br />
  {{ death.killer_username }} tappoi 

  {% if death.describe %} 
  {{death.describe}} 
  {% else %} 
  taikoi kuoliaaksi  
  {% endif %} 
  
  {{ death.target_username }}
  {% if death.zip %}
  sijainnissa {{ death.zip }}
  {% endif %}<br />
  <a href="/event/{{death.id}}">Tarkastele tapahtumaa</a>
</div>
  {% endfor %}
  {% endif %}

</body>

{% endblock %}