<h1>{{ username }}</h1>

<p>
  Henkiä riistetty: {{ murders | count }} <br />
  Kuolemia: {{ deaths | count }} 
</p>

<h3>Tapot: </h3>


{% if murders | count == 0 %}
<p> Ei varmistettuja tappoja. {{ username }} on kovin viaton!</p>
{% endif %}

{% for murder in murders %}
<p>
  <br />
  Tapahtumanumero: {{ murder.id }}
  <br />
  {{ murder.killer_username }} tappoi {{ murder.target_username }}
  {% if murder.zip %}
  sijainnissa {{ murder.zip }}
  {% endif %}<br />
  <a href="/event/{{murder.id}}">Tarkastele tapahtumaa</a>
{% endfor %}

<h3>Kuolemat: </h3>

{% if deaths | count == 0 %}
<p> Ei varmistettuja kuolemia. {{ username }} elää! </p>
{% endif %}

{% for death in deaths %}
<p>
  <br />
  Tapahtumanumero: {{ death.id }}
  <br />
  {{ death.killer_username }} tappoi {{ death.target_username }}
  {% if death.zip %}
  sijainnissa {{ death.zip }}
  {% endif %}<br />
  <a href="/event/{{death.id}}">Tarkastele tapahtumaa</a>
{% endfor %}

<hr />
<p>
  <a href="/">Etusivulle</a>
  <p>
</body>