{% extends "layout.html" %}
{% block title %} Luotimaster {%endblock%}
{% block content %}

<body>

<h2>{{ username }}</h2>
<p>
  Henkiä riistetty: {{ murders | count }} <br />
  Kuolemia: {{ deaths | count }} 
</p>

<h3>Tapot: </h3>


{% if murders | count == 0 %}
<p> Ei varmistettuja tappoja. {{ username }} on kovin viaton!</p>
{% endif %}

{% for murder in murders %}
<div class="event">
<p>

  Tapahtumanumero: {{ murder.id }}
  <br />
  {{ murder.killer_username }} 
  {% if murder.describe %} 
  {{murder.describe}} 
  {% else %} 
  taikoi kuoliaaksi  
  {% endif %} 
  {{ murder.target_username }}
  {% if murder.zip %}
  sijainnissa {{ murder.zip }}
  {% endif %}<br />
  <a href="/event/{{murder.id}}">Tarkastele tapahtumaa</a>
</div>
  {% endfor %}

<h3>Kuolemat: </h3>

{% if deaths | count == 0 %}
<p> Ei varmistettuja kuolemia. {{ username }} elää! </p>
{% endif %}

{% for death in deaths %}
<div class="event">
<p>
  Tapahtumanumero: {{ death.id }}
  <br />
  {{ death.killer_username }} tappoi 
  {% if death.describe %} 
  {{death.describe}} 
  {% else %} 
  taikoi kuoliaaksi  
  {% endif %} 
  {{ death.target_username }}
  {% if death.zip %}
  sijainnissa {{ death.zip }}
  {% endif %}<br />
  <a href="/event/{{death.id}}">Tarkastele tapahtumaa</a>
</div>
  {% endfor %}
</body>

{% endblock %}